#image {
	background-color:#333232; 
	width: 100%;
	margin: auto;
	padding: 50px;
	margin-bottom: 60px;
	clear: both;	
}

p {
	color: white;
}
#info {
	color: white;
}
.nav-link {
	background-color:#f49620;
	color: black;
	margin-right: 30px;
}
.nav-link:hover {
	color: white;
}
.nav {
	background-color: #191919;
	/* padding-left: 10px;	 */
	margin-top: 20px;
	margin-right: 30px;
	float: right;
}
.jumbotron {
	background-color: #191919;
	color:#6fccdd;
	margin-bottom: 0;
	margin-top: 10px;
	float: left;	
}

.jumbotron-fluid {
	padding: 0;
}
.active-blue{
	background-color: #6fccdd;
	margin-right: 30px;
}
body {
	background-color:#191919;
}
#image img {
	width: 40%;
	/* object-fit: contain; */
	float:left;
	margin-right: 5%;
}
label {
	color: #6fccdd;
}
#image h1 {
	color: #f49620;
	margin-bottom: 20px;
}
.btn {
	background-color: #6fccdd;
	border-color: #6fccdd;
	color: black;
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	margin:0;	
}
.contactB {
	background-color: #6fccdd;
	border-color: #6fccdd;
	color: black;
	padding: 8px;
}
.contactB:hover {
	background-color: #f49620;
	border: 2px solid #f49620;
}
.btn:hover {
	background-color: #f49620;
}
p {
	line-height: 2;
}
#pLink {
	color: #6fccdd;
}
#pLink:hover {
	color:#f49620;
}
.lead {
	margin-left: 5px;
	font-size: 1.2em;
	padding-top: 0;
	margin-top: 0;
	position: relative;
	bottom: 10px;
}
.display-4 {
	text-shadow: 1px 1px 50px white;
	font-size: 2.5em;
	padding-bottom: 0;
	margin-bottom: 0;
	color: #f49620;	
}
.card {
	background-color:#333232; 
	color: white;
	width: 100%;	
}
.col-md-3:hover {
	box-shadow: 1px 1px 50px #f49620;
}
.col-md-4:hover {
	box-shadow: 1px 1px 50px #f49620;
}
.projectHeading {
	color: #f49620;
	margin-bottom: 20px;
	/* text-align: center; */
}
hr {
	background-color: #f49620;
}
.leftList {
	float: left;
}
.rightList {
	float: right;
	
}
.scare {
	clear: both;
	margin-top: 20px;
	float: left;
}
.nutrition {
	clear: both;
	margin-top: 20px;
}
.card-title {
	text-shadow: 1px 1px 30px #f49620;
	color: white;
}
h6 {
	color: #f49620;
}

#carouselExampleIndicators, #carouselExampleIndicators2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 1px 1px 10px #f49620;
}
