#image {
	background-color:#333232; 
	width: 80%;
	margin: auto;
	padding: 50px;
	margin-bottom: 60px;	
}
#info {
	color: white;
}
.nav-link {
	background-color:#f49620;
	color: black;
	margin-right: 30px;
}
.nav-link:hover {
	color: white;
}
.nav {
	background-color: #191919;
	/* padding-left: 10px;	 */
	margin-top: 20px;
	margin-right: 30px;
	float: right;
}
.jumbotron {
	background-color: #191919;
	color:#6fccdd;
	margin-bottom: 0;
	margin-top: 0;
}
.active-blue{
	background-color: #6fccdd;
	margin-right: 30px;
}
body {
	background-color:#191919;
}
#image img {
	width: 40%;
	object-fit: contain;
	float:left;
	margin-right: 90px;
}
label {
	color: #6fccdd;
}
#image h1 {
	color: #f49620;
	margin-bottom: 20px;
}
.btn {
	background-color: #6fccdd;
	border-color: #6fccdd;
	color: black;
}
.btn:hover {
	background-color: #f49620;
}
p {
	line-height: 2;
}
#pLink {
	color: #6fccdd;
}
#pLink:hover {
	color:#f49620;
}
.lead {
	margin-left:10px;
}